[user]
    name = Matt Fields
    email = mafields@0x6d617474.net
    signingKey = 3EDB8EB38E1A394E
[alias]
    # Better log
    lg = log --decorate --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %C(green)(%cr)%Creset - %C(blue)%ae%Creset'

    # Temporary ignore
    assume   = update-index --assume-unchanged
    unassume = update-index --no-assume-unchanged
    assumed  = "!git ls-files -v | grep ^h | cut -c 3-"
    unassumeall = "!git assumed | xargs git update-index --no-assume-unchanged"
    assumeall = "!git st -s | awk {'print $2'} | xargs git assume"

    # Finding files by name and content
    find = "!git ls-files | grep -i"
    grep = "grep -Ii"

    # List aliases
    la = "!git config -l | grep alias | cut -c 7-"

    # Get the last tag
    lasttag = describe --tags --abbrev=0

    # Merge conflict shortcuts
    ours = "!f() { git checkout --ours $@ && git add $@; }; f"
    theirs = "!f() { git checkout --theirs $@ && git add $@; }; f"

    # List all the files currently being tracked
    list-files = "ls-tree --full-tree -r --name-only"

    # List files in a commit
    show-files = "diff-tree --no-commit-id --name-only -r"

    # Clean up branches
    branch-prune = "!git branch -v | grep '\\[gone]' | awk '{print $1}' | xargs -r git branch -D"
[color]
    ui = auto
[push]
    default = matching
[commit]
    gpgsign = true
[pull]
    rebase = true
[init]
	defaultBranch = main
